* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: grey !important ;
  text-decoration: none !important;
}
a:hover {
  color: green !important;
}

.logoPlant {
  font-weight: 500;
  color: #7aaf35;
}

.content {
  padding: 200px 0 400px 50px;
  background-image: url('./asset/bg-hero.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
}
.description {
  width: 800px;
}
.text-welcome {
  padding: 20px 0;
  color: #7aaf35;
  font-size: 60px;
  font-weight: 700;
}

.bg-color {
  color: #4e731d;
  background-color: #faf9f7;
}
.contact p {
  display: flex;
}

footer {
  background-color: #efece9;
}
